@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin:0 auto;
 }
 .header {
    max-width: 1200px;
    margin: 0 auto;
    
  }

  .navbar{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
  }
  a{
    text-decoration: none;
    color: #3a3a3a;
 } 
  ul li{
    list-style: none;
    display:inline-block;
    margin-left: 34px;

  }
  ul li a{
    text-decoration: none;
    font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
    

  }
  .menu{
    display: flex;
    align-items: center;
    column-gap:34px; 
  }
  .banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 70px 0;
 }
  .banner_thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
  }
  .banner_details {
    width: 60%;
  }
  .banner_image {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .intro_title {
    font-weight: 700;
    font-size: 52px;
    /* line-height: 70px; */
    color: #3a3a3a;
  }
  .intro_description {
    width: 505px;
    margin: 16px 0;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 24px; */
    /* font-feature-settings: "liga" off; */
    color: #3a3a3a;
  }
  .book_now {
    padding: 15px 35px;
    background: #e02c6d;
    border-radius: 41px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 24px; */
    color: #ffffff;
    /* cursor: pointer; */
  }
  .book_now:hover i {
    transition: 0.3s ease-in-out;
    transform: rotate(360deg);
  }
  .header hr { border: 0;
        height: 1px;
      background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);

  }
  .brands {
    margin: 35px auto;
    display: flex;
    max-width: 1100px;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }
  .collection {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1100px;
  }
  .section_title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3a3a3a;
    text-align: center;
  }
  .collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 50px;
  }
  .collection_item {
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: 0.5s ease-in-out;
  }
  .collection_item:hover {
    top: -10px;
  }
  .collection_title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    
    color: #18191f;
  }
  .price {
    margin: 5px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
  }
  .collection_description {
    margin-top: 5px;
    width: 200px;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 143%; */
    color: #787885;
  }
  .active {
    color: #ffbb00;
  }
  
  .empty {
    color: #aaa;
  }
  
  .rating {
    display: flex;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .rating p {
    margin-left: 15px;
  }
  
  .see_more_button {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 20px;
  }
  
  .see_more {
    padding: 15px 35px;
    background: transparent;
    border-radius: 41px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #e02c6d;
    
  }
  
  .see_more:hover i {
    transition: 0.3s ease-in-out;
    transform: rotate(360deg);
  }
  .feature_section {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .featured {
    display: flex;
    column-gap: 80px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .featured_title {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0a0826;
  }
  
  .featured_description {
    width: 500px;
    margin: 15px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6c6c6c;
  }
  
  .join_now {
    padding: 15px 35px;
    background: #e02c6d;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    
  }
  
  .join_now:hover i {
    transition: 0.3s ease-in-out;
    transform: rotate(360deg);
  }
  .footer {
    background-color: #0a0826;
    color: #fff;
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer .section_title {
    color: #fff;
    margin-bottom: 3px;
  }
  
  .footer_description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  
    color: #d9dbe1;
    
  }
  
  .social img {
    margin: 20px 5px;
    width: 36px;
    height: 36px;
    filter: invert(1);
  }
  .mobile_only {
    display: none;
  }
  @media screen and (max-width: 668px) {
    body,
    .header,
    .main,
    .collection,
    .footer {
      width: 100%;
      margin: 0 auto;
    }
    .navbar {
      justify-content: space-between;
      padding: 40px 30px;
      text-align: center;
    }
    .menu {
      display: none;
    }
    .logo {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
  
      font-feature-settings: "liga" off;
  
      color: #3a3a3a;
    }
    .mobile_only {
      display: block;
      font-size: 24px;
    }
  
    /* Banner Section */
    .banner {
      margin-top: 0;
      flex-direction: column;
      padding: 30px;
    }
    .banner_details,
    .banner_thumbnail {
      width: 100%;
    }
  
    .banner_thumbnail {
      padding: 0 100px;
      transform: scale(0.9);
    }
  
    .banner_image {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
    }
    .banner_image img {
      transform: scale(0.85);
    }
    .banner_details {
      text-align: center;
      padding: 10px 30px;
    }
  
    .intro_title {
      font-size: 35px;
      line-height: 50px;
    }
  
    .intro_description {
      margin: 0 auto;
      width: 90%;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  
    .hide {
      display: none;
    }
  
    /* Brands Section */
    .brands {
      padding: 10px 40px;
      row-gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
  
    .header hr {
      display: none;
    }
  
    /* Popular Collection */
    .collections {
      grid-template-columns: repeat(1, 1fr);
      padding: 30px;
      margin: 0 auto;
    }
    .collection_item {
      /* margin: 0 auto; */
      width: 100%;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      flex-direction: column;
      /* text-align: center; */
      padding-bottom: 40px;
    }
  
    .collection_title {
      font-weight: 700;
      font-size: 28px;
      line-height: 40px;
      font-feature-settings: "liga" off;
      color: #18191f;
    }
  
    .rating {
      margin: 15px 0;
    }
    .collection_description {
      width: 260px;
    }
  
    .collection_item img {
      width: 100%;
    }
  
    .see_more_button {
      margin-top: 0;
    }
  
    /* Featured Section */
  
    .feature_section {
      margin-top: 30px;
    }
  
    .featured {
      flex-direction: column;
      padding: 30px;
      text-align: center;
    }
  
    .featured_description {
      margin: 30px auto;
      width: 90%;
    }
  
    .featured_thumbnail {
      margin: 60px 0;
    }
  }
  
 /* Mobile Devices (668px) */

@media screen and (max-width: 668px) {
  body,
  .header,
  .main,
  .collection,
  .footer {
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    justify-content: space-between;
    padding: 40px 30px;
    text-align: center;
  }
  .menu {
    display: none;
  }
  .logo {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    font-feature-settings: "liga" off;

    color: #3a3a3a;
  }
  .mobile_only {
    display: block;
    font-size: 24px;
  }

  /* Banner Section */
  .banner {
    margin-top: 0;
    flex-direction: column;
    padding: 30px;
  }
  .banner_details,
  .banner_thumbnail {
    width: 100%;
  }

  .banner_thumbnail {
    padding: 0 100px;
    transform: scale(0.9);
  }

  .banner_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
  }
  .banner_image img {
    transform: scale(0.85);
  }
  .banner_details {
    text-align: center;
    padding: 10px 30px;
  }

  .intro_title {
    font-size: 35px;
    line-height: 50px;
  }

  .intro_description {
    margin: 0 auto;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .hide {
    display: none;
  }

  /* Brands Section */
  .brands {
    padding: 10px 40px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .header hr {
    display: none;
  }

  /* Popular Collection */
  .collections {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    margin: 0 auto;
  }
  .collection_item {
    /* margin: 0 auto; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* text-align: center; */
    padding-bottom: 40px;
  }

  .collection_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    font-feature-settings: "liga" off;
    color: #18191f;
  }

  .rating {
    margin: 15px 0;
  }
  .collection_description {
    width: 260px;
  }

  .collection_item img {
    width: 100%;
  }

  .see_more_button {
    margin-top: 0;
  }

  /* Featured Section */

  .feature_section {
    margin-top: 30px;
  }

  .featured {
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }

  .featured_description {
    margin: 30px auto;
    width: 90%;
  }

  .featured_thumbnail {
    margin: 60px 0;
  }
}
 